# Python
__pycache__/
*.py[cod]
*.pyd
*.so
*.egg-info/
dist/
build/

# Virtual environments
venv/
.venv/
env/
ENV/

# OS / editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Streamlit
.streamlit/secrets.toml

# Logs
*.log

# Jupyter
.ipynb_checkpoints/

# Hidden Pages
app/pages_hidden/*.py

# Data: ignore everything by default
# data/**

# Keep published outputs and overrides
!data/published/
!data/published/**
!data/overrides/
!data/overrides/**

# Keep GeoJSON 
!data/geo/
!data/geo/**

